*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main{
    width:100%;
    height:50rem;
    display: flex;
    justify-content: center;
}
.types{
    width: 70%;
    border: 2px solid black;
    display: flex;

}
.cars
{
    width: 33.3%;
    height: 100%;
    color: beige;
    font-size: xx-large;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300& family=Roboto& display=swap');
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.sedan
{
    background-color: rgb(238, 141, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.suv
{
    background-color: rgb(28, 131, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.luxury
{
    background-color: rgb(13, 72, 87);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.car{
    width:100%;
    height: 25%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding-left: 15px;
}
.butt{
    width:200px;
    height: 100px;
    border-radius: 50px;
    font-size: large;
}
p{
    font-weight: 300;
}
.log{
   
    width: 45px;
    height: 45px;
    background-color: beige;
    opacity: 0.5;
    border-radius: 50%;

}
.fa-car{
    margin-left: 35px;
    padding-top: 5px;
    color: black;
}

